{{> "page-head"}}


{{> "header"}}


{{> "menu" }}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Contact starts -->

                <div class="contact">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Contact hero -->
                            <div class="hero">
                                <h3><span>Anfrage</span></h3>
                            </div>
                            <!-- Contact -->

                            <div class="contact">
                                <div class="row">
                                    <div class="col-md-12">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                        <div class="cwell">
                                            <!-- Contact form -->
                                            <h5>Füllen Sie die Felder aus und senden Sie uns Ihre Angaben, so können wir
                                                ein
                                                individuell auf Sie zugeschnittenes Angebot erarbeiten.</h5>
                                            <hr/>
                                            <div class="form row" action="{{page.basePath}}anfrage.php" method="post">
                                                <!-- Contact form (not working)-->
                                                <form class="form-horizontal">
                                                    <div class="col-xs-12 col-sm-6">
                                                        <label class="control-label" for="gender">Anrede</label>
                                                        <div class="">
                                                            <i class="select fa fa-sort-desc"></i>
                                                            <select>
                                                                <option>Bitte wählen</option>
                                                                <option>Herr</option>
                                                                <option>Frau</option>
                                                            </select>

                                                        </div>

                                                        <label class="control-label" for="name">Vorname</label>
                                                        <div class="">
                                                            <input type="text" class="form-control" id="name">
                                                        </div>

                                                        <label class="control-label" for="lastname">Nachname</label>
                                                        <div class="">
                                                            <input type="text" class="form-control" id="lastname">
                                                        </div>

                                                    </div>

                                                    <div class="col-xs-12 col-sm-6">
                                                        <label class="control-label" for="email">Email</label>
                                                        <div class="">
                                                            <input type="text" class="form-control" id="email">
                                                        </div>

                                                        <label class="control-label" for="phone">Telefon</label>
                                                        <div class="">
                                                            <input type="text" class="form-control" id="phone">
                                                        </div>
                                                        <label class="control-label" for="birth">Geburtsdatum</label>
                                                        <div class="">
                                                            <input type="text" class="form-control" id="birth">
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-6">
                                                        <label class="control-label" for="from">Abflughafen</label>
                                                        <div class="">
                                                            <input type="text" class="form-control" id="from">
                                                        </div>
                                                        <label class="control-label" for="Dest">Reiseziel</label>
                                                        <div class="">
                                                            <input type="text" class="form-control" id="Dest">
                                                        </div>
                                                    </div>

                                                    <div class="col-xs-12 col-sm-6">
                                                        <label class="control-label" for="dateFrom">Frühester
                                                            Hinflug</label>
                                                        <div class="">
                                                            <input type="text" class="form-control" id="dateFrom">
                                                        </div>
                                                        <label class="control-label" for="dateFromLatest">Spätester
                                                            Hinflug</label>
                                                        <div class="">
                                                            <input type="text" class="form-control" id="dateFromLatest">
                                                        </div>
                                                    </div>

                                                    <!-- Comment -->
                                                    <div class="col-xs-12">
                                                        <label class="control-label" for="comment">Kommentar</label>
                                                        <div class="">
                                                            <textarea class="form-control" id="comment"
                                                                      rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                    <!-- Buttons -->
                                                    <div class="col-xs-12 buttons">
                                                        <button type="submit" class="btn btn-default">Absenden</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <hr/>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="{{page.basePath}}js/pikaday.js"></script>
<script>
    var picker = new Pikaday({
        field: document.getElementById('dateFrom'),
        format: 'D MMM YYYY',
        firstDay:1,
        onSelect: function() {
            console.log(this.getMoment().format('Do MMMM YYYY'));
        }
    });
</script>


{{> "footer"}}


{{> "page-end"}}