
{{> "page-head"}}


{{> "header"}}


{{> "menu" }}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Contact starts -->

                <div class="contact">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Contact hero -->
                            <div class="hero">
                                <h3><span>Anfrage</span></h3>
                            </div>
                            <!-- Contact -->

                            <div class="contact">
                                <div class="row">
                                    <div class="col-md-12">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                        <div class="cwell">
                                            <!-- Contact form -->
                                            <h5>Füllen Sie die Felder aus und senden Sie uns Ihre Angaben, so können wir ein
                                            individuell auf Sie zugeschnittenes Angebot erarbeiten.</h5>
                                            <hr />
                                            <div class="form">
                                                <!-- Contact form (not working)-->
                                                <form class="form-horizontal">
                                                    <div class="form-group col-xs-12 col-sm-6">
                                                        <label class="control-label col-xs-12" for="gender">Anrede</label>
                                                        <div class="col-xs-12">
                                                            <select>
                                                                <option>Bitte wählen</option>
                                                                <option>Herr</option>
                                                                <option>Frau</option>
                                                            </select>

                                                        </div>

                                                        <label class="control-label col-xs-12" for="name">Vorname</label>
                                                        <div class="col-xs-12">
                                                            <input type="text" class="form-control" id="name">
                                                        </div>

                                                        <label class="control-label col-xs-12" for="lastname">Nachname</label>
                                                        <div class="col-xs-12">
                                                            <input type="text" class="form-control" id="lastname">
                                                        </div>

                                                    </div>

                                                    <!-- Email -->
                                                    <div class="form-group  col-xs-12 col-sm-6">
                                                        <label class="control-label col-xs-12" for="email">Email</label>
                                                        <div class="col-xs-12">
                                                            <input type="text" class="form-control" id="email">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-6">
                                                        <label class="control-label col-xs-12" for="phone">Telefon</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" id="phone">
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-6">
                                                        <label class="control-label col-xs-12" for="birth">Geburtsdatum</label>
                                                        <div class="col-xs-12">
                                                            <input type="text" class="form-control" id="birth">
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="form-group col-xs-12 col-sm-6">
                                                        <label class="control-label col-xs-12" for="from">Abflughafen</label>
                                                        <div class="col-xs-12">
                                                            <input type="text" class="form-control" id="from">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-xs-12" for="Dest">Reiseziel</label>
                                                        <div class="col-xs-12">
                                                            <input type="text" class="form-control" id="Dest">
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-6">
                                                        <label class="control-label col-xs-12" for="dateFrom">Frühester Hinflug</label>
                                                        <div class="col-xs-12">
                                                            <input type="text" class="form-control" id="dateFrom">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3" for="dateFromLatest">Spätester Hinflug</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" id="dateFromLatest">
                                                        </div>
                                                    </div>




                                                    <!-- Website -->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3" for="website">Website</label>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" id="website">
                                                        </div>
                                                    </div>
                                                    <!-- Comment -->
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3" for="comment">Comment</label>
                                                        <div class="col-md-9">
                                                            <textarea class="form-control" id="comment" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                    <!-- Buttons -->
                                                    <div class="form-group">
                                                        <!-- Buttons -->
                                                        <div class="col-md-9 col-md-offset-3">
                                                            <button type="submit" class="btn btn-default">Submit</button>
                                                            <button type="reset" class="btn btn-default">Reset</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <hr />

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{{> "footer"}}


{{> "page-end"}}