{{> "page-head"}}


{{> "header"}}


{{> "menu" }}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="career">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Careers Here -->
                            <div class="hero">
                                <h3><span>Impressum</span></h3>
                            </div>

                            <div class="tabbable tabs-left">
                                <!-- Tabs -->
                                <ul class="nav nav-tabs">
                                    <!-- Navigation tabs (Job titles ). Use unique value in anchor tags. -->
                                    <li class="active"><a href="#tab1" data-toggle="tab">Allgemein</a></li>
                                    <li><a href="#tab2" data-toggle="tab">Cookies</a></li>
                                    <li><a href="#tab3" data-toggle="tab">Disclaimer</a></li>
                                </ul>
                                <div class="tab-content">

                                    <!-- In "id", use the value which you used in above anchor tags -->
                                    <div class="tab-pane fade in active row" id="tab1">
                                        <!-- Content -->
                                        <div class="col-xs-12">
                                            <h5>DIE REISEAGENTEN GmbH</h5>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">

                                        <p>
                                            <strong>Postanschrift und Besucheranschrift:</strong><br>
                                            Bargkoppelweg 67<br>
                                            22145 Hamburg<br>
                                            Tel.: 040 6113 6117<br>
                                            Fax: 040 6113 6110<br>
                                        </p>

                                        <p>
                                            <strong>Sitz:</strong><br>
                                            Roggenkamp 7<br>
                                            23669 Timmendorfer Strand<br>
                                            Postanschrift: Postfach 1150 – 23669 Timmendorfer Strand
                                        </p>

                                        <p>
                                            <strong>Internet:</strong><br>
                                            www.diereiseagenten.de<br>
                                            <strong>Mail:</strong><br>
                                            tk@diereiseagenten.de
                                        </p>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                        <p>
                                            <strong>Bankverbindung:</strong><br>
                                            Hamburger Sparkasse<br>
                                            IBAN: DE57 2005 0550 1249 1319 29<br>
                                            BIC: HASPDEHHXXX
                                        </p>

                                        <p>
                                            <strong>Geschäftsführer:</strong> Thomas Krämer<br>
                                                <strong>Marketing:</strong> tk@diereiseagenten.de<br>
                                                    <strong>Puplic Relations:</strong> tk@diereiseagenten.de<br>
                                                        <strong>Webmaster:</strong> tk@diereiseagenten.de
                                        </p>
                                        <p>
                                            <strong>Amtsgericht:</strong> HRB 15939 HL
                                        </p>
                                        <p>
                                            <strong>Steuernummer:</strong>folgt<br>
                                                <strong>Umsatzsteuernummer:</strong> folgt
                                        </p>
                                        </div>

                                        <!--<ul>-->
                                        <!--<li><i class="fa fa-angle-right"></i> Etiam adipiscing posuere justo, nec iaculis justo dictum non</li>-->
                                        <!--<li><i class="fa fa-angle-right"></i> Cras tincidunt mi non arcu hendrerit eleifend</li>-->
                                        <!--<li><i class="fa fa-angle-right"></i> Aenean ullamcorper justo tincidunt justo aliquet et lobortis diam faucibus</li>-->
                                        <!--<li><i class="fa fa-angle-right"></i> Maecenas hendrerit neque id ante dictum mattis</li>-->
                                        <!--<li><i class="fa fa-angle-right"></i> Vivamus non neque lacus, et cursus tortor</li>-->
                                        <!--</ul>-->
                                        <!--<div class="button"><a href="#">lorem</a></div>-->
                                    </div>


                                    <div class="tab-pane fade" id="tab2">
                                        <h5>Cookies</h5>
                                        Diese Seite verwendet im Moment keine Cookies.
                                    </div>


                                    <div class="tab-pane fade" id="tab3">
                                        <h5>Disclaimer</h5>
                                        <p><strong>Inhalt des Onlineangebotes</strong></p>
                                        <p>Die Webseiten der Gewinnmax GmbH werden permanent gepflegt. Sie werden mit größtmöglicher Sorgfalt erstellt. Dennoch kann der Anbieter keine Haftung für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Informationen übernehmen. Die Nutzung der Webseiten-Inhalte erfolgt auf eigene Gefahr. Allein durch die Nutzung der Website kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande. Der Anbieter behält sich ausdrücklich vor, einzelne Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
                                        </p>
                                        <p><strong>
                                        Urheberrecht</strong></p>
                                        <p>
                                        Die auf dieser Webseite durch den Anbieter veröffentlichten Inhalte sind urheberrechtlich geschützt. Jede vom deutschen Urheberrecht nicht zugelassene Verwertung bedarf der vorherigen schriftlichen Zustimmung des Anbieters. Dies gilt insbesondere für die Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Inhalte und Rechte Dritter sind als solche gekennzeichnet. Das unerlaubte Kopieren der Webseiteninhalte oder der kompletten Webseite ist nicht gestattet und strafbar. Lediglich die Herstellung von Kopien und Downloads für den persönlichen, privaten und nicht kommerziellen Gebrauch ist erlaubt.
                                        </p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <p><br></p>

            </div>
        </div>
    </div>
</div>

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span>

{{> "footer"}}


{{> "page-end"}}