
{{> "page-head"}}


{{> "header"}}


{{> "menu" }}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Slider (Flex Slider -->

                <div class="flexslider">
                    <ul class="slides">
                        <!-- Each slide should be enclosed inside li tag. -->

                        <!-- Slide #1 -->
                        <li class="dark">
                            <!-- Image -->
                            <img src="assets/Trauminsel.jpg" />
                            <!-- Caption -->
                            <div class="flex-caption">
                                <!-- Title -->
                                <h3><span>Freiheit,</span></h3>
                                <!-- Para -->
                                <p>öffne dein Herz, spüre die Weite, lebe den Augenblick</p>
                            </div>
                        </li>


                        <li>
                            <img src="assets/Los-Olivos-Mijas-Golf.jpg" />
                            <div class="flex-caption">
                                <h3><span>Grenzenloses Golfen</span></h3>
                                <p>oder rundum relaxen, einfach den <br>Alltag hinter sich lassen und <br>eine erholsame Zeit genießen.</p>
                            </div>
                        </li>

                        <li class="dark">
                            <img src="assets/fotolia_114913113.jpg" />
                            <div class="flex-caption">
                                <h3><span>Der wahre Luxus ...</span></h3>
                                <p>ist Zeit und Entspannung</p>
                            </div>
                        </li>

                    </ul>
                </div>

                <!-- Slider ends -->

                <!-- CTA starts -->

                <div class="cta">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- First line -->
                            <p class="cbig">Unser Ziel ist es, mit Ihnen Ihre Urlaubserwartungen zu erarbeiten
                            und Sie bei der Suche durch das große Angebot der Reiseanbieter zu unterstützen</p>
                            <!-- Second line -->
                            <p class="csmall">Ihre Reiseagenten</p>
                        </div>
                    </div>
                </div>


                <!-- CTA Ends -->

                <!-- Service starts -->

                <div class="services">
                    <div class="row">
                        <div class="col-md-4">

                            <!-- Service #1 -->
                            <div class="service">
                                <!-- Icon & title. Font Awesome icon used. -->
                                <h5><span><i class="fa fa-anchor"></i>Kreuzfahrten</span></h5>
                                <div class="rimg">
                                    <img src="assets/Kreuzfahrt-Teaser.jpg" alt="" class="img-responsive" />
                                    <div class="caption top-left">
                                        <p>Bordguthaben und Doppeltes Bordguthaben</p>
                                    </div>
                                </div>
                                <p>
                                    Das Rauschen der Wellen- ein Soundtrack in Dauerschleife,
                                    die Bewohner ferner Inseln die Hauptdarsteller,
                                    jeder Sonnenuntergang ein Showdown – Kreuzfahrten,
                                    das ist Reisen auf Großbildleinwand.<br><br>
                                    <i class="fa fa-angle-right"></i>
                                    <a class="link" href="http://www.gewinnmax.de">Erfahren Sie mehr über Kreuzfahrten</a>
                                </p>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <!-- Service #2 -->
                            <div class="service">
                                <!-- Icon & title. Font Awesome icon used. -->

                                <h5><span><i class="fa fa-cloud"></i>Ihre Wunschreise</span></h5>
                                <div class="rimg">
                                    <img src="assets/Trauminsel-Teaser.jpg" alt="" class="img-responsive" />
                                    <div class="caption top-center">
                                        <p>Reiseguthaben</p>
                                    </div>
                                </div>
                                <p>Ob Pauschalreisen, grenzenloses Golfen, rundum relaxen, mit der gesamten Familie
                                    verreisen oder einfach den Alltag hinter sich lassen und eine erholsame Zeit
                                genießen. Es sind Ihre Wünsche und Sehnsüchte, die Sie uns anvertrauen.<br><br>
                                    <i class="fa fa-angle-right"></i>
                                    <a class="link" href="#">Fragen Sie uns</a>
                                </p>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <!-- Service #3 -->
                            <div class="service">
                                <!-- Icon & title. Font Awesome icon used. -->
                                <h5><span><i class="fa fa-money"></i>Den Traumurlaub einfach finanzieren</span></h5>
                                <p>Der lang ersehnte Urlaub ist für viele Menschen das Highlight des Jahres,
                                    aber den vollen Preis auf einmal zu bezahlen, reißt oft ein Loch in den Geldbeutel.
                                    Mit planbaren monatlichen Raten behalten Sie Ihr Budget im Griff.<br>
                                    <i class="fa fa-angle-right"></i>
                                    <a class="link" href="http://www.gewinnmax.de"> Nutzen Sie die
                                     Möglichkeit Ihren Urlaub zu finanzieren.</a></p>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Serivce ends -->

                <!-- Recent post starts. Note down the class name before editing. -->

                <div class="rposts">
                    <h4>Sonderaktionen und Sonderreisen</h4>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="rpost1">
                                <div class="rimg">
                                    <img src="assets/Virgin-Islands.jpg" alt="" class="img-responsive" />
                                </div>
                                <!-- Title & Para -->
                                <div class="rdetails">
                                    <h5>Virgin Islands</h5>
                                    <p>Lorem Ipsum sit amet</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="rpost1">
                                <div class="rimg">
                                    <img src="assets/Schnorchelausflug-Belize.jpg" alt="" class="img-responsive" />
                                </div>
                                <div class="rdetails">
                                    <h5>Schnorcheln - Belize</h5>
                                    <p>Ob Sie Erholung im und am Meer suchen, in herrlicher Landschaft sportlich aktiv sein wollen ...</p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="rpost1">
                                <div class="rimg">
                                    <img src="assets/The-Sandals-Golf-Club-Ochoc-Rios-Jamaika.jpg" alt="" class="img-responsive" />
                                </div>
                                <div class="rdetails">
                                    <h5>The Sandals Golf Club <br>Ochoc Rios Jamaika</h5>
                                    <p>Duis vulputate consectetur malesuada et in dictum nisi vehicula.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="rpost1">
                                <div class="rimg">
                                    <img src="assets/Trauminsel-Teaser.jpg" alt="" class="img-responsive" />
                                </div>
                                <div class="rdetails">
                                    <h5>Lorem ipsum</h5>
                                    <p>Duis vulputate consectetur malesuada et netus et in dictum nisi vehicula.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Recent post ends -->


            </div>
        </div>
    </div>
</div>

{{> "footer"}}


{{> "page-end"}}