
{{> "page-head"}}


{{> "header"}}


{{> "menu" }}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Contact starts -->

                <div class="contact">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Contact hero -->
                            <div class="hero">
                                <!-- Title. Don't forget the <span> tag -->
                                <h3><span>Kontakt und Beratung</span></h3>
                                <!-- para -->
                            </div>
                            <!-- Contact -->


                            <!-- CTA starts -->

                            <div class="cta">
                                <div class="row">
                                    <div class="col-md-12">

                                            <p class="cbig">Nutzen Sie unser Angebotsformular für Ihre Anfrage</p>
                                            <div class="button center"><a href="{{page.basepath}}anfrage.html">zum Angebotsformular</a></div>

                                        <div class="col-xs-12 col-sm-8 text-image">

                                            <p class="cbig">Haben Sie Fragen, Anregungen, Wünsche?</p>
                                            <p class="csmall">Wir stehen Ihnen auch gern telefonisch zur Verfügung, dazu senden Sie eine
                                                E-Mail an<br> <a href="mailto:tk@diereiseagenten.de"> tk@<span class="displaynone">null</span>diereiseagenten.de</a><br> und wir rufen Sie zurück. </p>
                                            {{!-- <p class="csmall">Sie erreichen uns <strong>täglich von 8.00 bis 22.00 Uhr unter 01234 567 789</strong></p>--}}

                                        </div>

                                        <div class="col-xs-12 col-sm-4 image">
                                            <img src="assets/sekretaerin.jpg" alt="Kontaktieren Sie uns - wir setzen uns mit Ihnen in Verbindung">
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <!-- CTA Ends -->

                            {{!--

                            <div class="contact">

                                <div class="row">

                                    <div class="col-md-12 col-sm-12">
                                        <div class="cwell">
                                            <!-- Google maps -->
                                            <div class="gmap">
                                                <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
                                                <iframe height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Google+India+Bangalore,+Bennigana+Halli,+Bangalore,+Karnataka&amp;aq=0&amp;oq=google+&amp;sll=9.930582,78.12303&amp;sspn=0.192085,0.308647&amp;ie=UTF8&amp;hq=Google&amp;hnear=Bennigana+Halli,+Bangalore,+Bengaluru+Urban,+Karnataka&amp;t=m&amp;ll=12.993518,77.660294&amp;spn=0.012545,0.036006&amp;z=15&amp;output=embed"></iframe>
                                            </div>

                                            <!-- Address section -->
                                            <h5>Adresse</h5>
                                            <hr />
                                            <div class="address">
                                                <address>
                                                    <!-- Company name -->
                                                    <strong>Die Reiseagenten</strong><br>
                                                    <!-- Address -->
                                                    Teststraße 22<br>
                                                    22345 Hamburg<br>
                                                    <!-- Phone number -->
                                                    <abbr title="Phone">Telefon:</abbr> 040 1234 456
                                                </address>

                                                <address>
                                                    <!-- Name -->
                                                    <strong>Email:</strong><br>
                                                    <!-- Email -->
                                                    <a href="mailto:#">first.last@gmail.com</a>
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            --}}

                        </div>
                    </div>
                </div>


                <!-- Service ends -->

            </div>
        </div>
    </div>
</div>


{{> "footer"}}


{{> "page-end"}}