
{{> "page-head"}}


{{> "header"}}


{{> "menu" }}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Contact starts -->

                <div class="about">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Contact hero -->
                            <div class="hero">
                                <!-- Title. Don't forget the <span> tag -->
                                <h3><span>Über uns</span></h3>
                                <!-- para -->
                            </div>
                            <!-- Contact -->


                            <!-- CTA starts -->

                            <div class="cta">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <p class="cbig">Die Reiseagenten ... </p>
                                        <p class="csmall">
                                            sind ein junges und innovatives Unternehmen. <br>
                                            Die Beratung, über alle Medien, steht hier im Vordergrund. Wir sind keine „Buchungsplattform“ undvermitteln aus Prinzip auch keine "Billigreisen". Unser Motto lautet: „Checken Sie woanders und buchen Sie bei uns.“ Wir investieren nicht in Vergleichsprogramme, sondern in persönliche Beratung. Und genau hier setzen wir dort an, wo andere aufhören. Eine intensive Marktforschung hat ergeben, dass ein sehr guter Preis in Verbindung mit Beratung die häufigste Zustimmung findet. Die Reiseagenten sind also nicht „die große Firma“ mit dem billigsten Preis, sondern auf gleichem Preisniveau wie die „großen Firmen“ plus sehr guter Beratung. Wir stehen für sehr gute Qualität und bieten den Preis den Sie ermittelt haben. Versprochen!
                                            <br><br>
                                            Ihr
                                            <br>
                                            <strong>Thomas Krämer</strong>
                                            <br>
                                            Geschäftsführer - Die Reiseagenten
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <!-- CTA Ends -->

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{{> "footer"}}


{{> "page-end"}}