<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Widget 1 -->
                <div class="widget">
                    <h4>Über uns</h4>
                    <p>
                        Die Reiseagenten - individuelle Urlaubsberatung.<br>
                        Sie erreichen uns jederzeit per Email <a href="mailto:tk@diereiseagenten.de">tk@diereiseagenten.de</a>
                        <br>Wir rufen Sie gern zurück.
                        {{!--von 8.00 bis 22.00 Uhr,
                        auch an Sonn- und Feiertagen, unter folgender Rufnummer:
                        0123 456 789 --}}
                    </p>
                    <p>
                        <ul>
                    <li>
                        <i class="fa fa-angle-right"></i> <a href="{{page.basePath}}ueberuns.html">Mehr über uns</a>

                    </li>
                        </ul>
                    </p>
                    <!--&lt;!&ndash; Social Media &ndash;&gt;-->
                    <!--<div class="social">-->
                    <!--<a href="#"><i class="fa fa-twitter twitter"></i></a>-->
                    <!--<a href="#"><i class="fa fa-pinterest pinterest"></i></a>-->
                    <!--<a href="#"><i class="fa fa-facebook facebook"></i></a>-->
                    <!--<a href="#"><i class="fa fa-google-plus google-plus"></i></a>-->
                    <!--<a href="#"><i class="fa fa-linkedin linkedin"></i></a>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-md-4">
                <!-- widget 2 -->
                <div class="widget">
                    <h4>Informationen</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="{{page.basePath}}kontakt.html">Kontakt</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{{page.basePath}}impressum.html">Impressum</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{{page.basePath}}datenschutz.html">Datenschutz</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Widget 3 -->
                <div class="widget">
                    {{!--
                    <h4>Kategorien</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Kreuzfahrten</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Familienreisen</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Golfreisen</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">Hochzeitsreisen</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#">All Inklusive</a></li>
                    </ul>
                    --}}
                </div>
            </div>
        </div>
        <div class="row">
            <hr />
            <div class="col-md-12"><p class="copy pull-left">
                Copyright &copy; Die Reiseagenten
            </div>
        </div>
    </div>
</footer>