<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <!-- Logo and site link -->
                <div class="logo" data-module="logo">
                    <a href="index.html"><img src="{{page.basePath}}assets/logo.png"/></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-sm-offset-3 col-md-offset-3">
                <div class="list">
                    <!-- Add your phone number here -->
                    <div class="headline">
                        Beratung und Buchung
                    </div>
                    <hr />
                    <div class="phone">
                        {{!-- <i class="fa fa-phone"></i> Phone: 123-456-7890 --}}
                        schreiben Sie uns, wir rufen Sie zurück:
                    </div>
                    <hr />
                    <!-- Add your email id here -->
                    <div class="email">
                        <i class="fa fa-envelope-o"></i> <a href="mailto:tk@diereiseagenten.de">tk@diereiseagenten.de</a>
                    </div>
                    <hr />
                    <div class="anfrage">
                        <i class="fa fa-edit"></i>
                        <a href="{{page.basepath}}anfrage.html"> Angebotsformular</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 image hidden-xs">
                <img src="assets/sekretaerin.jpg" alt="Kontaktieren Sie uns - wir setzen uns mit Ihnen in Verbindung">
            </div>
        </div>
    </div>
</header>