
<div class="" data-module="menu" data-component="menu">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <ul class="menu-items">
                    <li class="active">
                        <div>
                            Reiseziele
                        </div>
                        <div class="cloud"></div>
                    </li>
                    <li class="diabled">
                        <div>
                            Kreuzfahrten
                        </div>
                        <div class="cloud"></div>

                    </li>
                    <li class="diabled">
                        <div>
                            Themen
                        </div>
                        <div class="cloud"></div>

                    </li>
                    <li class="diabled">
                        <div>
                            Specials
                        </div>
                        <div class="cloud"></div>

                    </li>
                    <li class="diabled">
                        <div>
                            Kontakt
                        </div>
                        <div class="cloud"></div>

                    </li>
                    <li class="diabled">
                        <div>
                            Service
                        </div>
                        <div class="cloud"></div>

                    </li>
                    <li class="diabled">
                        <div>
                            Über uns
                        </div>
                        <div class="cloud"></div>

                    </li>
                    <li class="diabled">
                        <div>
                            Reisefinder
                        </div>
                        <div class="cloud"></div>

                    </li>
                    <li class="diabled">
                        <div>
                            Suche
                        </div>
                        <div class="cloud"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>